mat-toolbar {
  background: #0a0a0a !important;
  color: aliceblue;
}

.example-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  cursor: pointer;
}
  
.example-spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 1em;
}
