
<div class="container">

  <div class="text">
    <div class="separateur"></div>
    <div class="news-letter">
      <span class="title"><b>Sign Up For Our Newsletter</b></span>
      <form>
        <input type="email" placeholder="Enter your email" [formControl]="newsLetterForm" class="form"/>
        <button mat-raised-button class="button">Go</button>
      </form>
      <span>Nulla vestibulum nibh vel sem faucibus finibus. Vestibulum magna massa, egestas nec tincidunt ut, congue tristique nibh. Suspendisse tellus libero, euismod sit amet tellus quis, gravida suscipit quam.</span>
    </div>
    <div class="separateur"></div> 
  </div>

  <div class="line-between"></div>

  <div class="text">
    <div class="separateur"></div>
    <div class="fake-text">
      <span class="subtitle"><b>About</b></span>
      <div class="block" *ngFor="let fakeLinkAbout of fakeLinksAbout">
        <span class="lst-item">{{fakeLinkAbout}}</span>
      </div>
    </div>

    <div class="fake-text">
      <span class="subtitle"><b>Chat</b></span>
      <div class="block" *ngFor="let fakeLinkChat of fakeLinksChat">
        <span class="lst-item">{{fakeLinkChat}}</span>
      </div>
    </div>

    <div class="fake-text">
      <span class="subtitle"><b>Help</b></span>
      <div class="block" *ngFor="let fakeLinkHelp of fakeLinksHelp">
        <span class="lst-item">{{fakeLinkHelp}}</span>
      </div>
    </div>
    <div class="separateur"></div>
  </div>
  
</div>
