.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgb(32, 32, 32);
}

.news-letter {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news-letter > * {
    padding-bottom: 1em;
}

.text {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fake-text {
    flex: 2;
    margin-left: 2em;
    display: flex;
    flex-direction: column;

}

.subtitle {
    margin-bottom: 1em;
}

.separateur {
    flex: 1;
}

.line-between {
    width: 1px;
    height: 80%;
    background-color: grey;
}

.form {
    min-height: 26px;
}
.button {
    background: rgb(182, 2, 2);
    margin-left: .5em;
}