
<div class="container">
  <div class="news-letters">
    <span><b>test</b></span>
    <span class="form"> formulaire à integer</span>
    <span>Petit texte à rajouter en dessous qui parle de pas grand chose en particuliers</span>
  </div>
  <div class="separateur"></div>
  <div class="text">
    <div class="fake-text">
      <span><b>test</b></span>
      <div class="block" *ngFor="let fakeLink of fakeLinks">
        <span class="title">{{fakeLink}}</span>
      </div>
    </div>
    <div class="fake-text">
      <span><b>test</b></span>
      <div class="block" *ngFor="let fakeLink of fakeLinks">
        <span class="title">{{fakeLink}}</span>
      </div>
    </div>
  </div>
</div>
