.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.tab-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    width: 100%;
}
.form-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-user {
    width: 100%;
}
.en-tete {
    font-family: Arial;
}

.checkbox {
    margin-right: 1em;
    margin-bottom: .5em;
    font-size: .7em;
}

.button {
}
