<div class="container">

  <div class="card img img-1">
  </div>
  
  <div class="card">
    <span class="card-inner"></span>
    <span class="card-inner"></span>
    <div class="text-in-card">
      <span class="title"><b>Lorem Ipsum</b></span>
      <span class="text">Cras condimentum felis nibh. Nunc ultricies neque nibh, nec pretium augue pulvinar in. In eu blandit tellus. Aliquam at finibus purus, nec semper ante. Suspendisse sit amet tellus nisl. Nunc id mi velit. Sed a orci nec tortor gravida tincidunt. Praesent non urna sollicitudin, consequat libero non, dapibus neque. Donec dictum, libero at convallis dictum, dui erat pharetra ipsum, ac ultricies elit arcu cursus neque. Pellentesque dictum et ligula at consequat.</span>
    </div>
    <span class="card-inner"></span>
  </div>

  <div class="bandeau img"></div>
  
  <div class="card">
    <span class="card-inner"></span>
    <div class="text-in-card">
      <span class="title"><b>Loooorem Ipsuuum</b></span>
      <span class="text">Fusce ullamcorper gravida placerat. Suspendisse interdum tristique ipsum ut feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet justo lectus. Vivamus ultrices mauris purus, nec pellentesque felis pharetra at. Ut mattis, risus in malesuada facilisis, massa turpis aliquam mauris, volutpat semper ipsum augue eu diam. Praesent facilisis luctus neque, in bibendum ex finibus quis. Vivamus ut velit lacinia, ullamcorper enim at, pellentesque mauris. Duis id odio quis erat vehicula dapibus eu vel orci. In ultrices ut enim ac ultricies. Donec nec placerat enim. Cras venenatis lacus nec augue efficitur tristique.</span>
    </div>
    <div class="image-div">
      <img src="../../assets/Logo-test/modern-glitch-banner-collection_1361-8831.jpg" class="image"/>
    </div>
    <span class="card-inner"></span>
  </div>

  <div class="card img img-2">
  </div>

  <div class="card">
    <span class="card-inner"></span>
    <div class="image-div">
      <img src="../../assets/Logo-test/modern-glitch-banner-collection_1361-8831.jpg" class="image"/>
    </div>
    <div class="text-in-card">
      <span class="title"><b>Llllllorem IsPum</b></span>
      <span class="text">Cras accumsan erat dolor, eget fermentum metus vulputate quis. Aliquam rhoncus nisl ullamcorper tincidunt porta. Nunc rhoncus pellentesque tempor. Maecenas sapien erat, congue ut magna non, aliquet viverra odio. Nunc viverra eu enim a viverra. Suspendisse eget condimentum diam. Curabitur sed dignissim elit, id feugiat justo. Duis venenatis lacus massa, sed bibendum orci condimentum et. Etiam semper auctor nisi non ultrices. Etiam nec felis sit amet purus cursus dictum convallis id diam. Phasellus aliquam orci lacus, vitae commodo eros efficitur ac. Aliquam vitae pulvinar augue. In tempus euismod ornare.</span>
    </div>
    <span class="card-inner"></span>
  </div>

  <div class="card">
    <span class="card-inner"></span>
    <div class="text-in-card">
      <span class="title"><b>Lorem Ipsuuuum</b></span>
      <span class="text">Sed ullamcorper felis vitae odio vestibulum, sed pharetra erat hendrerit. Etiam consequat dolor leo, quis iaculis mauris placerat non. Maecenas vitae ipsum ultricies, dictum sapien vitae, cursus leo. Vestibulum euismod vel dui sit amet luctus. Morbi in mollis nisl. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sed felis lorem. Sed sed feugiat urna. Curabitur eu nisl nec arcu molestie tristique. Aliquam sed imperdiet sapien, nec eleifend mauris. Donec pretium, magna vel blandit finibus, purus mauris iaculis justo, id tristique ex nisi quis augue. Morbi vel lobortis diam. Nunc interdum lorem nisi, sed varius risus bibendum vel.</span>
    </div>
    <span class="card-inner"></span>
    <span class="card-inner"></span>
    <span class="card-inner"></span>
  </div>

  <div class="card img img-3">
  </div>

</div>