
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    width: 100%;
    min-height: 45vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-inner {
    flex: 1;
}

.text-in-card {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 1em;
}

.text {
    width: 70%;
    font-size: 1.2em;
    font-family: "Roboto";
}

.bandeau {
    background-image: url("../../assets/test-image-div/916682_best-pc-wallpapers-full-hd.jpg");
    width: 100%;
    height: 15vh;
}

.image-div {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 30vh;
    max-height: 30vh;
}

.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url("../../assets/test-image-div/fonds-ecran_toutes_couleurs_03.jpg");

}

.img-2 {
    background-image: url("../../assets/test-image-div/ob_d87c13_carla3.PNG");
}

.img-3 {
    background-image: url("../../assets/test-image-div/12395_800x480.jpg");
}